[submodule "lib/DirectXTK"]
	path = lib/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "lib/directx-vs-templates"]
	path = lib/directx-vs-templates
	url = https://github.com/walbourn/directx-vs-templates.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
